[Desktop Entry]
Type=Application
Exec=rundbprocess
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=rundbprocess
Name=rundbprocess
Comment[en_US]=
Comment=
